input, label
{
    transition: 0.4s ease;
}
label
{
    transform: translate(4px, -10px) scale(1.02);
    transform-origin: left top;
}
input:focus, input:not(:placeholder-shown)
{
    border-bottom: 2px solid #000000;
}
input:not(:placeholder-shown) ~ label, input:focus ~ label
{
    transform: translate(10px, -45px) scale(0.8);
    padding-left: 0px;
    color: black;
    font-weight: 700;
}
input
{
}
input::placeholder
{
    opacity: 0;
}